html {
  background-color: darkgrey;
}
p {
  width: 500px;
  color: white;
  padding-left: 5px;
}
div.block {
  background-color: darkred;
  width: 500px;
  border: 5px solid red;
  border-radius: 3px;
}
a {
  color: white;
  text-decoration: none;
  background-color: blue;
  border: 2px solid darkblue;
  position: relative;
  top: 5px;
  left: 5px;
}
